<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!--设置日志输出为控制台-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--设置日志输出为文件-->
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<File>logFile.log</File>-->
    <!--<rollingPolicy  class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--<FileNamePattern>logFile.%d{yyyy-MM-dd_HH-mm}.log.zip</FileNamePattern>-->
    <!--</rollingPolicy>-->

    <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
    <!--<Pattern>%d{HH:mm:ss,SSS} [%thread] %-5level %logger{32} - %msg%n</Pattern>-->
    <!--</layout>-->
    <!--</appender>-->

    <logger name="io.netty" level="warn"/>
    <logger name="io.vertx" level="info"/>
    <logger name="com.zaxxer.hikari.pool" level="info"/>
    <logger name="com.hazelcast.level" level="info"/>
    <logger name="org.springframework.core.env.PropertySourcesPropertyResolver" level="info"/>
    <logger name="com.ibatis" level="DEBUG"/>
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG"/>
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG"/>
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>

    <root level="debug">
        <level value="DEBUG" />
        <appender-ref ref="consoleAppender"/>
    </root>


</configuration>